.lead {
  display: flex;
  flex-direction: column;
  margin: 56px auto 0 148px;
  max-width: 984px;
  min-width: 320px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .lead{
    margin-left: 48px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead{
    margin-left: 0;
    margin-right: 0;
  }
}
