.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-height: 52px;
  min-height: 42px;
  max-width: 1184px;
  min-width: 288px;
  transition-property: margin;
  transition-duration: 0.5s;
  margin: 28px 48px 0;
}

@media screen and (max-width: 1024px) {
  .header{
    transition-property: margin height;
    transition-duration: 0.5s;
    margin: 28px 24px 0;
    height: 52px;
  }
}

@media screen and (max-width: 768px) {
  .header{
    transition-property: margin height;
    margin: 16px 16px 0;
    height: 42px;
  }
}
