.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-height: 52px;
  min-height: 42px;
  max-width: 1184px;
  min-width: 288px;
  transition-property: height;
  transition-duration: 0.5s;
  margin: 28px auto 0;
}

@media screen and (max-width: 1024px) {
  .header{
    margin: 28px max(24px, (48px - (1024px - 100vw)/2)) 0;
  }
}

@media screen and (max-width: 768px) {
  .header{
    margin: max(16px, (28px - (768px - 100vw)/2)) max(16px, (24px - (768px - 100vw)/2)) 0;
  }
}
