.lead__image {
  margin-top: 64px;
  transition-property: margin-top;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .lead__image{
    transition-property: margin-top;
    transition-duration: 0.5s;
    margin-top: 40px;
  }
}
