.intro {
  margin: 92px auto 0 148px;
  max-width: 720px;
}

@media screen and (max-width: 1280px) {
  .intro{
    margin: 92px max(48px, (148px - (1280px - 100vw)/2)) 0 max(48px, (148px - (1280px - 100vw)/2));
  }
}

@media screen and (max-width: 1024px) {
  .intro{
    margin: max(88px, (92px - (1024px - 100vw))) max(24px, (48px - (1024px - 100vw)/2)) 0 max(24px, (48px - (1024px - 100vw)/2));
  }
}

@media screen and (max-width: 768px) {
  .intro{
    margin: max(64px, (88px - (768px - 100vw))) max(16px, (24px - (768px - 100vw)/2)) 0 max(16px, (24px - (768px - 100vw)/2));
  }
}
