.lead__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  min-width: 288px;
  align-self: center;
  margin: 32px 0 0;
  transition-property: margin-top font-size line-height;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .lead__subtitle{
    transition-property: margin-top font-size line-height;
    transition-duration: 0.5s;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
