.lead__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  min-width: 288px;
  align-self: center;
  margin: 32px 0 0;
  transition-property: margin;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .lead__subtitle{
    margin-top: max(16px, (32px - (768px - 100vw)/2));
    font-size: max(16px, (30px - (768px - 100vw)));
    line-height: max(20px, (36px - (768px - 100vw)));
  }
}
