.cover{
  margin: 92px 48px 0;
  background-image: url("../../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  aspect-ratio: 1184/740;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .cover{
    margin: 92px max(0px, (48px - (1280px - 100vw)/2)) 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover{
    margin-top: max(90px, (92px - (1024px - 100vw)/2));
  }


@media screen and (max-width: 768px) {
  .cover{
    margin-top: max(66px, (90px - (768px - 100vw)/2));
  }
}}
