.cover__title{
  top: 0;
  margin: auto auto 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cover__title{
    font-size: max(32px, (72px - (768px - 100vw)));
    line-height: max(35px, (76px - (768px - 100vw)));
    max-width: max(288px, (560px - (768px - 100vw)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title{
    padding: 0 35px;
  }
}
