.place{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1280px) {
  .place{
    column-gap: max(32px, (40px - (1280px - 100vw)/2));
  }
}

@media screen and (max-width: 1024px) {
  .place{
    column-gap: max(28px, (32px - (1024px - 100vw)/2));
  }
}

@media screen and (max-width: 768px) {
  .place{
    grid-template-columns: 1fr;
  }
}
