.footer{
  display: flex;
  margin: 92px 48px 24px;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer{
    margin: max(88px, (92px - (1024px - 100vw)/2)) max(24px, (48px - (1024px - 100vw)/2)) 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer{
    flex-direction: column;
    margin: max(64px, (88px - (768px - 100vw)/2)) auto 24px max(16px, (24px - (768px - 100vw)/2));
  }
}

