.footer{
  display: flex;
  margin: 92px 48px 24px;
  flex-direction: row;
  justify-content: space-between;
  transition-property: margin;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .footer{
    flex-direction: column;
    margin: 64px auto 24px 16px;
  }
}

@media screen and (max-width: 1024px) {
  .footer{
    transition-property: margin;
    transition-duration: 0.5s;
    margin: 88px 24px 24px;
  }
}
