.intro__title{
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .intro__title{
    font-size: max(32px, (54px - (768px - 100vw)));
    line-height: max(35px, (58px - (768px - 100vw)));
    padding-right: 60px;
  }
}
